{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-2 d-none d-md-block"></div>
    <!--Content Column-->
    <div class="col-md-8 container">
      <h1>Resume</h1>
      <p id="ResumeDate">Last updated: January 2024</p>
      <img src="{{ url_for('static', filename='images/Resume_01.jpg') }}" alt="Resume" width="800">

    </div>
    <!--End of content column-->
    <div class="col-md-2 d-none d-md-block"></div>
  </div>
</div>
{% endblock %}